/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@theme {
  --dark-mode: class;
}

:root {
  --color-primary: 17 147 212;
  --color-bg: 246 247 248;
  --color-fg: 16 28 34;

  --radius: 4px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;
}

.dark {
  --color-primary: 17 147 212;
  --color-bg: 16 28 34;
  --color-fg: 246 247 248;
}

.bg-primary {
  background-color: rgb(var(--color-primary));
}

.bg-background-light {
  background-color: rgb(var(--color-bg));
}

.dark\:bg-background-dark {
  background-color: rgb(var(--color-fg));
}
